<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tienda Online</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet" />
    
  </head>

  <body ng-app="myApp" class="ng-cloak">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <a class="navbar-brand" href="/index.html">Tienda Online</a>
    </nav>
    	
	<div class="panel panel-default" ng-controller="PrincipalController as principalController">
	<div class="panel panel-default" ng-controller="PurchaseOrderController as purchaseOrderController">

      <div class="panel-heading"><span class="lead">Lista de Clientes</span></div>
      <div class="tablecontainer">
      	<table class="table table-striped table-bordered table-hover">
      	  <thead class="thead-inverse">
              <tr>
                  <th>Nombre</th>
                  <th>Email</th>
              </tr>
          </thead>
	          <tbody>
				  <tr ng-repeat="customer in principalController.customers">
				    <td><span ng-bind="customer.name"></span></td>
				    <td><span ng-bind="customer.email"></span></td>
				    <td><button type="button" ng-click="fetchAllProductsByCustomer(customer)"  class="btn btn-success">Ir a Comprar</button></td>
				    <td><button type="button"  ng-click="selectedCustomer(customer)" class="btn btn-primary">Ver Historial de Compras</button></td>
				  </tr>
			   </tbody>
	 	 </table>
      </div>
      
      <div class="tablecontainer" ng-if="purchaseOrderController.customer.customerId !== null && purchaseOrderController.viewPurchaseOrder">
	      <div class="panel-heading"><span class="lead">Lista Productos Disponibles: {{ purchaseOrderController.customer.name}}</span></div>
		   <div class="alert alert-info" ng-if="purchaseOrderController.products.length == 0">
		  	<strong>Info!</strong> El cliente no tiene productos para comprar.
		  </div>
		  <div class="alert alert-warning" ng-if="purchaseOrderController.message !==''">
			  <strong>Warning!</strong> {{purchaseOrderController.message}}.
			</div>
		        <table class="table table-striped table-bordered table-hover" ng-if="purchaseOrderController.products.length > 0">
		      	  <thead class="thead-inverse">
		              <tr>
		                  <th>Nombre</th>
		                  <th>Precio</th>
		                  <th>Cantidad</th>
		              </tr>
		          </thead>
			          <tbody>
						  <tr ng-repeat="product in purchaseOrderController.products">
						    <td><span ng-bind="product.name"></span></td>
						    <td><span ng-bind="product.price"></span></td>
						    <td><input type="number" min="0" max="5" ng-model="amount"/></td>
						    <td><button type="button" ng-click="addProductToPurchase(product,amount)" class="btn btn-success">Agregar al Carrito</button></td>
						  </tr>
					   </tbody>
			 	 </table>
		 <div class="tablecontainer" ng-if="purchaseOrderController.productToPurchases.length > 0">
	      <div class="panel-heading"><span class="lead">Lista Productos a Comprar</span></div>
		        <table class="table table-striped table-bordered table-hover">
		      	  <thead class="thead-inverse">
		              <tr>
		                  <th>Nombre</th>
		                  <th>Valor Total</th>
		                  <th>Cantidad</th>
		              </tr>
		          </thead>
			          <tbody>
						  <tr ng-repeat="productToPurchase in purchaseOrderController.productToPurchases">
						    <td><span ng-bind="productToPurchase.name"></span></td>
						    <td><span ng-bind="productToPurchase.totalPrice"></span></td>
						    <td><span ng-bind="productToPurchase.amount"></span></td>
						    <td><button type="button" ng-click="removeProductToPurchase(productToPurchase.productId)" class="btn btn-danger">Eliminar</button></td>
						  </tr>
					   </tbody>
			 	 </table>
			 	 <div class="tablecontainer">
			 	 	<div class="alert alert-success" ng-if="purchaseOrderController.purchaseMessage!==''">
				  	<strong>Success!</strong> {{purchaseOrderController.purchaseMessage}}.
				  </div>
			 	 <div class="panel-heading"><span class="lead">Total a Pagar: $ {{purchaseOrderController.totalPrice}}</span></div>
			 	 	<div class="form-inline" style="margin-left: 20px; margin-bottom: 20px;">
					  <div class="form-group">
					    <input class="form-control" id="delivery_address"
					           placeholder="Direccción de Envio" ng-model="deliveryAddress"
					           required="required">
					  </div>
					  <button type="button" ng-click="createPurchaseOrder(deliveryAddress)" class="btn btn-success" style="margin-left: 50px;">Realizar Compra</button>
					</div>
				</div>
		 	 </div>
	 	 </div>
	 	 
	 <div class="tablecontainer" ng-if="purchaseOrderController.viewReport">
	 	<div class="panel-heading"><span class="lead">Filtro de Ordenes de Compra: {{purchaseOrderController.customer.name}}</span></div>
		 <form class="form-inline" style="margin-left: 14px;">
		  <div class="form-group">
			<label class="control-label" for="beforeDate">Fecha Inicio</label>
		  </div>
		  <div class="form-group mx-sm-3">
			<input class="form-control" id="beforeDate" name="beforeDate" type="date" ng-model="beforeDate"/>
		  </div>
		    <div class="form-group">
			<label class="control-label" for="aftereDate">Fecha Fin</label>
		  </div>
		  <div class="form-group mx-sm-3">
				<input class="form-control" id="aftereDate" name="aftereDate" type="date" ng-model="aftereDate"/>
		  </div>
		  <button type="button" ng-click="findPurchaseOrderReport(beforeDate,aftereDate)" class="btn btn-primary" >Realizar Busqueda</button>
		</form>
		 <div class="alert alert-info" ng-if="purchaseOrderController.message!==''">
		  	<strong>Info!</strong> {{purchaseOrderController.message}}
		  </div>
		<div class="tablecontainer" ng-if="purchaseOrderController.purchaseOrders.length > 0">
      	<div class="panel-heading"><span class="lead">Listado de Ordenes de Compras</span></div>
	        <table class="table table-striped table-bordered table-hover">
	      	  <thead class="thead-inverse">
	              <tr>
	                  <th>Fecha de Creacion</th>
	                  <th>ID Orden de Compra</th>
	                  <th>Total</th>
	                  <th>Direccion de Envio</th>
	                  <th>Productos</th>
	              </tr>
	          </thead>
		          <tbody>
					  <tr ng-repeat="purchaseOrder in purchaseOrderController.purchaseOrders">
					    <td><span ng-bind="formatDate(purchaseOrder.purchaseOrder.creationDate) |  date:'dd/MM/yyyy'"></span></td>
					    <td><span ng-bind="purchaseOrder.purchaseOrder.purchaseOrderId"></span></td>
					    <td><span ng-bind="purchaseOrder.purchaseOrder.totalPrice"></span></td>
					    <td><span ng-bind="purchaseOrder.purchaseOrder.deliveryAddress"></span></td>
					    <td>
					    	<table class="table table-striped table-bordered table-hover">
					      	  <thead class="thead-inverse">
					              <tr>
					                  <th>Producto</th>
					                  <th>Cantidad</th>
					              </tr>
					          </thead>
						          <tbody>
									  <tr ng-repeat="product in purchaseOrder.purchaseProductList">
									    <td><span ng-bind="product.productName"></span></td>
									    <td><span ng-bind="product.productAmount"></span></td>
									  </tr>
								   </tbody>
						 	 </table>
					    </td>
					  </tr>
				   </tbody>
		 	 </table>
		 	 </div>

	 	 </div>
	</div>
	</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Angular core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="angular/js/app.js"></script>
    <script src="angular/js/service/PrincipalService.js"></script>
    <script src="angular/js/service/PurchaseOrderService.js"></script>
    <script src="angular/js/controller/PrincipalController.js" ></script>
    <script src="angular/js/controller/PurchaseOrderController.js" ></script>
  </body>
</html>
